@import "node_modules/bootstrap/scss/bootstrap";

$primary-color: rgb(29, 33, 38);
$secondary-color: rgb(255, 255, 255);
$accent-color: rgb(35, 183, 164);

$headers-font: 'Quattrocento Sans', sans-serif;
$main-font: 'Open Sans', sans-serif;



