$theme-colors: (
  "primary": rgb(35, 183, 164),
  "secondary": rgb(255, 255, 255)
);

$white: rgb(255, 255, 255);
$light-grey: rgb(225, 230, 234);
$accent-color: rgb(29, 33, 38);
$title-color: rgb(41, 47, 54);
$background-grey-color: rgb(78, 90, 98);
$paragraph-color: rgb(141, 143, 146);

$title-font: 'Quattrocento Sans', sans-serif;
$main-font: 'Open Sans', sans-serif;

@import "node_modules/bootstrap/scss/bootstrap";

html {
    font-family: $main-font;
    font-size: 18px;
    background: $white;
}

nav {
    background: $accent-color;
    min-width: 100vw;
    position: absolute;
}

main {
    height: 100vh;
}

.nav-item {
    text-transform: uppercase;
}

.navbar-nav {
    float: left;
    position: relative;
}

.hero {
    background-image: url('../img/background.png');
    background-color: $accent-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    min-width: 100vw;
}

.jumbotron {
    background: transparent;
    text-align: left;
    padding-left: 0;
    padding-top: 15%;
}

.title {
    font-size: 2rem;
    font-family: $title-font;
    color: $white;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.text {
    background: $accent-color;
    opacity: 0.702;
    width: 57vw;
    line-height: 1.5rem;
    z-index: 190;
    padding-top: 15px;
    margin-bottom: 30px;
}

.lorem-ipsum {
    font-size: 0.8rem;
    font-weight: 100;
    color: rgb(204, 208, 215);
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    left: 40vw;
}

.section-title {
    font-family: $title-font;
    font-size: 2rem;
    color: $title-color;
    text-transform: uppercase;
    line-height: 1.167;
    padding-left: 10px;
    border-left: 12px solid $light-grey;
}

#team {
    padding: 55px 0 55px 0;
}

.team-members-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}

.card {
    border-radius: 0;
    border:none;
    background: $light-grey;
    cursor: pointer;
    margin-bottom: 15px;
    display: block;
}

.social-links {
    position: absolute;
    display: none;
}

.team-member:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    .social-links {
        display: block;
        z-index: 1;
    }
    .card-img-top {
        opacity: 0.7;
    }
}

.card-img-top {
    border-radius: 0;
}

.card-body {
    width: 263px;
    height: 74px;
    line-height: 0.3rem;
}

.card:hover {
    background: $background-grey-color;
    .card-title {
        color:$white;
    }
}

.card-title {
    font-size: 0.9rem;
    font-family: $title-font;
    color: $title-color;
    text-align: left;
    text-transform: uppercase;
}

.card-description{
    font-size: 0.7rem;
    font-family: $main-font;
    color: $paragraph-color;
}

.members-social-links {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 20px;
    background: $background-grey-color;
}

.section-title-dark {
    font-family: $title-font;
    font-size: 2rem;
    color: $white;
    text-transform: uppercase;
    line-height: 1.167;
    padding-left: 10px;
    border-left: 12px solid rgba(225, 230, 234, 0.1);
}

#work{
    background: $background-grey-color;
    padding: 55px 0 55px 0;
}

.projects {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}
.project {
    position: relative;
    width: 50%;
    max-width: 300px;
    margin-bottom: 15px;

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .plus {
        position: absolute;
        bottom: 40%;
        color: $white;
        width: 100%;
        transition: .5s ease;
        opacity:0;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        background: $accent-color;
        color: $white;
        width: 100%;
        transition: .5s ease;
        opacity:0;
        font-size: 0.7rem;
        font-weight: 100;
        padding: 12px;
        text-align: center;
        text-transform: uppercase;
    }

}

.project:hover .overlay {
opacity: 1;
}

.project:hover .plus {
opacity: 1;
}

.btn-center {
    text-align: center;
    margin-top: 55px;
}

#what-we-do {
    padding: 55px 0 55px 0;
}

.services {
    padding: 40px;
    cursor: pointer;
}

.service {
    width: 200px;
    height: 300px;
    margin: 30px;
}

.card-icons {
    text-align: center;
}

.service-title {
    font-size: 0.9rem;
    font-family: $title-font;
    color: $title-color;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
}

.service-description {
    font-size: 0.7rem;
    font-family: $main-font;
    color: $paragraph-color;
    text-align: center;
}

.mapouter {
    margin-top: 50px;
    text-align:right;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    z-index: -1;
}

.contact-container {
    margin-bottom: 120px;
    z-index: 9999;
}

#contact-form {
    position: absolute;
    top: -65px;
    background: $white;
    padding: 20px;
}

.contact-header {
    text-transform: uppercase;
    font-family: $title-font;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 60px 0 50px 0;
    text-align: left;
}

.contact-details {
    font-size: 0.9rem;
    font-family: $main-font;
    color: $paragraph-color;
    text-align: left;
}

label {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: $paragraph-color;
}

input[type="text"], textarea[type="textarea"] {
    background: $light-grey;
  }

#success-message{
    width:100%;
    height:100%;
    display:none;
}

#error-message{
    width:100%;
    height:100%;
    display:none;
}

.footer {
    background: $background-grey-color;
    font-size: 0.7rem;
    font-weight: 100;
    color: $white;
    padding-top: 25px;
    position: absolute;
    width: 100vw;
    height: 10vh;
}

.social-media {
    text-align: right;
}

.footer-social-links {
    background: $background-grey-color;
    margin: 0 10px 0 10px;
    font-size: 1rem;
}

a {
    color: $white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
